nav {
  background-color: #b56576;
}

#head-link {
  color: white;
}

.nav-link a:hover,
.nav-link a:active,
.navbar a.active {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.logoutButton {
  margin-top: 8px;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #b56576;
  border: none;
}

@media (min-width: 270px) and (max-width: 768px) {
  .logoutButton {
    margin-top: 8px;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #b56576;
    border: none;
  }
}
@media screen and (min-width: 769px) {
  .logoutButton {
    margin-top: 8px;
    text-decoration: none;
    margin-left: 7px;
    outline: none;
    color: white;
    background-color: #b56576;
    border: none;
  }
}
