.books {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-left: 100px;
}
.bookContainer {
  width: 195px;
  height: 350px;
  margin: 1rem;
  padding: 0.5rem;
}

.bookContainer img {
  max-width: 100%;
  min-height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.bookContainer h3 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 1 auto;
  font-weight: bold;
}

.booksSection h4 {
  margin-top: 40px;
  margin-left: 340px;
  align-items: center;
}

.bookContainer .author {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 534px) {
  .booksSection h4 {
    margin-top: 40px;
    margin-left: 5px;
    align-items: center;
  }
}

@media (min-width: 535px) and (max-width: 734px) {
  .booksSection h4 {
    margin-top: 40px;
    margin-left: 30px;
    align-items: center;
  }
}

@media (min-width: 735px) and (max-width: 1700px) {
  .booksSection h4 {
    margin-top: 40px;
    margin-left: 200px;
    align-items: center;
  }
}

@media (min-width: 1701px) {
  .booksSection h4 {
    margin-top: 40px;
    margin-left: 340px;
    align-items: center;
  }
}
